<div class="div-import-data">
  <!-- 用户名处的required是由Validator提供的内置校验方法，但是html元素也有叫
 required的属性，所以在form上加一个novalidate，表示不需要浏览器的默认校验-->
  <form class="form-import-data" #myForm="ngForm" novalidate>
    <!-- bootstrap utilities/screenreaders   -->
    <label for="inputFileLocation">Please choose your file to upload:</label>
    <input ngModel name="fileLocation" id="inputFileLocation" class="form-control" placeholder="Please Choose a excel file to upload" type="file">
    <button class="submit" type="submit">Upload</button>
  </form>
</div>
